<template>
    <div class="row">
        <div class="col">
            <div class="card card-block bg-faded" style="padding: 10px">
                <h2>Lisää tapahtuma</h2>
                <form @submit.prevent="addEvent" class="mb-3">
                    <div class="form-group">
                        <label>Tapahtuman nimi</label>
                        <input name="nimi" type="text" class="form-control"
                               v-validate="'required'"
                               v-model="event.name">
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                            v-show="errors.has('nimi')">
                            {{ errors.first('nimi')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tapahtuman luoja</label>
                        <input name="luoja" type="text" class="form-control"
                               v-validate="'required'"
                               v-model="event.creator">
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                             v-show="errors.has('luoja')">
                            {{ errors.first('luoja')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tapahtuman lokaatio</label>
                        <input name="lokaatio" type="text" class="form-control"
                               v-validate="'required'"
                               v-model="event.location">
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                             v-show="errors.has('lokaatio')">
                            {{ errors.first('lokaatio')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tapahtuman päivämäärä</label>
                        <input name="paivamaara" type="datetime-local" class="form-control"
                               v-validate="'required'"
                               v-model="event.date">
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                             v-show="errors.has('paivamaara')">
                            {{ errors.first('paivamaara')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tapahtuman kuvaus</label>
                        <textarea name="kuvaus" type="text" class="form-control"
                                  v-validate="'required'"
                                  v-model="event.description"></textarea>
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                             v-show="errors.has('kuvaus')">
                            {{ errors.first('kuvaus')}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Tallenna</button>
                </form>
            </div>

            <div class="card card-block bg-faded" style="padding: 10px; margin-top: 10px;">
                <h2>Hae tapahtumia alueittain</h2>
                <form @submit.prevent="refreshList" class="mb-3">
                    <div class="form-group">
                        <label>Tapahtuman lokaatio</label>
                        <input name="lokaatio-kriteeri" type="text" class="form-control"
                               v-validate="'required'"
                               v-model="event_location">
                        <div class="help-block alert alert-danger" style="margin-top: 5px;"
                             v-show="errors.has('lokaatio-kriteeri')">
                            {{ errors.first('lokaatio-kriteeri')}}
                        </div>
                    </div>
                    <button @click="refreshList(event_location)" type="submit" class="btn btn-primary btn-block">Päivitä hakulista</button>
                </form>
            </div>

            <div class="card card-block bg-faded" style="padding: 10px; margin-top: 10px;">
                <h2><b>API ohjeistus</b></h2>
                <h4>Hae kaikki tapahtumat</h4>
                    <p>GET - api/events</p>
                <h4>Hae yksittäinen tapahtuma</h4>
                    <p>GET - api/event/{id}</p>
                <h4>Hae tapahtumia alueittain</h4>
                    <p>GET - api/event/location/{location}</p>
                <h4>Hae tapahtumat päivämäärällä</h4>
                    <p>GET - api/event/date/{date}</p>
                <h4>Lisää tapahtuma</h4>
                    <p>POST - api/event/JSON</p>
                    <p>ESIM:
                        {
                        "name": "Juu",
                        "creator": "Jep",
                        "location": "Jeee",
                        "description": "huehhue",
                        "date": "2018-03-10"

                        }</p>
                <h4>Päivitä tapahtumaa</h4>
                    <p>PUT - api/event/date/JSON</p>
                    <p>ESIM:
                        {
                        "event_id": 3,
                        "name":"Updated again",
                        "creator":"Updated creator",
                        "location":"Updated location",
                        "date":"2018-03-22",
                        "description":"Updated description"
                        }
                    </p>
                <h4>Poista tapahtuma</h4>
                    <p>DELETE - api/event/{id}</p>

            </div>


        </div>

        <div class="col">
            <div class="card card-block bg-faded" style="padding: 10px">
                <h2>Tapahtumat</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
                            <a class="page-link" href="#" @click="fetchEvents(pagination.prev_page_url)">Edellinen</a></li>

                        <li class="page-item disabled"><a class="page-link text-dark" href="#">Sivu {{ pagination.current_page}} / {{ pagination.last_page}}</a></li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                            <a class="page-link" href="#" @click="fetchEvents(pagination.next_page_url)">Seuraava</a></li>
                    </ul>
                </nav>
                <div class="card card-body mb-2" v-for="event in events" v-bind:key="event.id">
                    <h3><b>Tapahtuman nimi:</b>{{event.name}}</h3>
                    <p><b>Tapahtuman ID:</b> {{event.id}}</p>
                    <p><b>Tapahtuman luoja:</b> {{event.creator}}</p>
                    <p><b>Tapahtuman lokaatio:</b> {{event.location}}</p>
                    <p><b>Tapahtuman päivämäärä:</b> {{event.date}}</p>
                    <p><b>Tapahtuman kuvaus:</b> {{event.description}}</p>
                    <p><b>Tapahtuma luotu:</b> {{event.created_at}}</p>
                    <p><b>Tapahtuma muokattu:</b> {{event.updated_at}}</p>
                    <hr>
                    <button @click="editEvent(event)" class="btn btn-warning mb-2">Muokkaa</button>
                    <button @click="deleteEvent(event.id)" class="btn btn-danger">Poista</button>
                </div>
            </div>
            </div>


    </div>
</template>

<script>
    export default {
        data() {
            return {
                events: [],
                event: {
                    id: '',
                    name: '',
                    creator: '',
                    location: '',
                    date: '',
                    description: '',
                    created_at: '',
                    updated_at: '',
                },
                event_id: '',
                event_location: '',
                pagination: {},
                edit: false
                }
            },

            created() {
                this.fetchEvents();
            },

            methods: {
                fetchEvents(page_url) {
                    let vm = this;
                    page_url = page_url || 'api/events';
                   fetch(page_url)
                       .then(res => res.json())
                       .then(res =>{
                           this.events = res.data;
                           vm.makePagination(res.meta, res.links);
                    })
                .
                    catch(err => console.log(err)
                )
                },

                makePagination(meta, links) {
                    let pagination = {
                        current_page: meta.current_page,
                        last_page: meta.last_page,
                        next_page_url: links.next,
                        prev_page_url: links.prev
                    };

                    this.pagination = pagination;
                },

                deleteEvent(id) {
                    if(confirm('Haluatko varmasti poistaa tapahtuman?')){
                        fetch(`api/event/${id}`, {
                            method: 'delete'
                        })
                            .then(res => res.json())
                            .then(data => {
                            alert('Tapahtuma poistettu')
                        this.fetchEvents();
                        })
                    .
                        catch(err => console.log(err)
                    )
                    }
                },

                addEvent() {
                    if(this.edit === false) {
                        //Add
                        fetch('api/event', {
                            method: 'post',
                            body: JSON.stringify(this.event),
                            headers: {
                                'content-type': 'application/json'
                            }
                        })
                            .then(res => res.json())
                            .then(data => {
                                this.event.name = '';
                                this.event.description = '';
                                this.event.creator = '';
                                this.event.date = '';
                                this.event.location = '';
                                alert('Tapahtuma lisätty');
                                this.fetchEvents();
                            })
                            .catch(err => console.log(err));
                    } else{
                        // Update
                        fetch('api/event', {
                            method: 'put',
                            body: JSON.stringify(this.event),
                            headers: {
                                'content-type': 'application/json'
                            }
                        })
                            .then(res => res.json())
                            .then(data => {
                                this.event.name = '';
                                this.event.description = '';
                                this.event.creator = '';
                                this.event.date = '';
                                this.event.location = '';
                                alert('Tapahtuma muokattu');
                                this.fetchEvents();
                            })
                            .catch(err => console.log(err));
                    }
                },

                editEvent(event) {
                    this.edit = true;
                    //this.event.id = event.id;
                    this.event.event_id = event.id;
                    this.event.name = event.name;
                    this.event.description = event.description;
                    this.event.creator = event.creator;
                    this.event.date = event.date;
                    this.event.location = event.location;
                },

                // Refreshes the list with the given criteria (location)
                refreshList(event_location) {
                        fetch(`api/event/location/${event_location}`, {
                            method: 'get'
                        })
                            .then(res => res.json())
                            .then(res => {
                                this.events = res.data;
                                this.event_location = '';
                            })
                            .
                            catch(err => console.log(err)
                            )
                    }
                }
    };
</script>