<template>
    <footer id="footer" class="text-center" style="#footer{
  margin-top: 30px;
  padding: 20px;
  color: #ffffff;
  background: #333;
}">
        <p>Copyright 2018 &copy; MitaTapahtuu</p>
    </footer>
</template>