<template>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Mita tapahtuu : API</h1>
            <p class="lead">Mita tapahtuu - API, tarjoaa avoimen tapahtuma rajapinnan käyttöösi!</p>
        </div>
    </div>
</template>